<br><br></div><br>
<footer id="footer" class="container-fluid text-center">
  <p id="footertext" class="text-muted">DATAnalyser -- Nicolas BACHELET, Xiang FANG, Antoine JAMIN, et Alexandre ORTIZ -- Institut des Sciences et Techniques de l'Ingénieur d'Angers</p>
</footer>
</body>
</html>

