<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<h1> Liste des eleves </h1>
	</div>
</div>
<% var pam_moyenne=0; var pince_moyenne=0; var num=0; %>
<div class="row">
	<div class="col-md-12">
		<div class="col-md-10 col-md-offset-1">
			<% if (!all_sheet.length) { %>
				<b> Pas de patients enregistrés </b>
				<br><br>

			<%} else { %>
				Numéro de dossier
				<ol>
				<% for (i = 0; i < all_sheet.length; i++){ %>
<li><a href="patients/<%= all_sheet[i] %>"><%= all_sheet[i] %></a> </li>
				<% } %>
				</ol>
			<% } %>
		</div>
	</div>
</div>