<% include ../partials/head %>

<h2 align="justify">A propos</h2>

<p class="col-sm-6" align="justify">Le site web DATAnalizer a été développé dans le cadre d'un projet de cinquième année à l'école d'ingénieurs ISTIA (Institut des Sciences et Techniques de l'Ingénieur d'Angers) par une équipe de 4 étudiants Nicolas BACHELET, Xiang FANG, Antoine JAMIN, et Alexandre ORTIZ.<br><br>Cette application a pour but de traiter des données brutes afin de les mettre en forme pour avoir une meilleure compréhension visuelle que sur un fichier Excel. Ainsi un médecin qui veut expliquer à son patient plus clairement les données récoltées lors de ses tests peut le faire facilement avec ce site. De même pour un professeur qui veut faire des statistiques sur les notes de sa classe.<br><br>Il suffit simplement de télécharger le fichier template (dans l'onglet "Téléchargement") puis de le remplir avec les données d'un patient ou d'une classe en fonction du besoin, l'uploader et obtenir le résultat.<br><br>Le site est développé sous forme d'API Rest programmée en NodeJS.<br><br></p>

<!--div align="center"><img src="/img/big-data.png" height="250px"></div>-->

<% include ../partials/foot %>