<% include ../partials/head %>

<h2>Téléchargements</h2>
<div class="row">
<p class="col-sm-6" align="justify">
	Sur cette page vous pourrez télécharger les feuille de style excel pour des données médicales et pour des données pédagogiques.
</p>
</div>
<h3>Données médicales</h3>
<div class="row">
<p class="col-sm-1" align="center"><a href="/templates/patients.xlsx"><i class="fa fa-file-excel-o" style="font-size:48px"></i></a></p>
<p class="col-sm-5" align="justify">Cette feuille de style vous permet de faire le suivi (pouls, systole et diastole) de vos patients il vous suffit de remplir ce classeur excel attribuant le numéro du patient à chaque feuille du classeur. Ensuite vous aurez uniquement à remplir la date du relevé (au format : JJ/MM/AA HH:min) et les mesures relevées.</p>
</div>
<h3>Données pédagogiques</h3>
<div class="row">
<p class="col-sm-1" align="center"><a href="/templates/eleves.xlsx"><i class="fa fa-file-excel-o" style="font-size:48px"></i></a></p>
<p class="col-sm-5" align="justify">Cette feuille de style vous permet de faire le suivi (notes, moyennes) de vos élèves il vous suffit de remplir ce classeur excel en respectant les espaces réservés.</p>
</div>

<% include ../partials/foot %>