<% include ../partials/head %>

<h1 align="center">DATAnalyzer</h1>

<div class="row">
  <div class="col-md-4" align="center"><img src="/img/suivi-medical.jpg" height="250px"></div>
  <div class="col-md-4" align="center"><img src="/img/Istia_presentation.jpg" height="250px"></div>
  <div class="col-md-4" align="center"><img src="/img/suivi-cours.jpg" height="250px"></div>
</div>

<h4 align="center">Bienvenue dans notre analyseur de données, ici vous pourrez trouver des documents vous permettant d'assurer un suivi de patients ou d'élèves et vous aurez également la possibilité de créer des rapport à partir de ces documents.</h4>


<% include ../partials/foot %>