<% include ../partials/head %>

<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<h1> Liste des élèves </h1>
	</div>
</div>
<% var y=0;%>
<div class="row">
	<div class="col-md-12">
		<div class="col-md-10 col-md-offset-1">
			<% if (!valeur.tabEleves.length) { %>
				<b> Pas de donnée enregistrée </b>
				<br><br>

			<%} else { %>
				<table class="table table-hover col-lg-4 col-lg-offset-1">

				<% valeur.tabEleves.forEach(function(eleve) { %>
					<% if(y==0){%>
					<tr style="font-weight:bold">
					<% }else{%>
					<tr>
					<% } %>
					
						<td width=40> <%= eleve.nom %> </td>
						<td width=40> <%= eleve.prenom %> </td>
						<script language=javascript>
							var chaine = <%= eleve.notes %>;
							var moyenne=0;
							for (var i=0; i<chaine.length; i++) {
								<% if(y==0){%>
									document.write("<td>Note " + chaine[i].toString() + "</td>");
								<% }else{%>
									moyenne+=chaine[i];
									document.write("<td>" + chaine[i].toString() + "</td>");
								<% } %>
							}
							<% if(y==0){%>
								document.write("<td>Moyenne</td>");
							<% }else{%>
								moyenne = (parseFloat(moyenne/chaine.length)).toFixed(1);
								document.write("<td>" + moyenne + "</td>");
							<% } %>
						</script>
						
					</tr>
				<% y++;}) %>
				</table>
			<% } %>
		</div>
	</div>
</div>

<% include ../partials/foot %>