<% include ../partials/head %>

<!-- Return to the list -->
<meta http-equiv="refresh" content="0.5; url=/liste">

<!DOCTYPE html>
<html lang="fr">
<head>
	<!-- Encoding pour la page HTML -->
	<meta charset="UTF-8"> 
	<!-- Sources JavaScript -->

</head>
<body> 


<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<br>
		<h2>Upload succeed</h2>
		<br>
		<!-- Return -->
		<form>
		        <a href="/liste"><input type="button" class="button" value="Return"></a>
		</form>
	</div>
</div>

</body>

</html>


<% include ../partials/foot %>